/* .Carousel {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.Carousel p {
  font-size: 17px;
  color: #ffffff;
}

.Carousel img {
  width: 250px;
  height: 200px;
  margin-bottom: 2%;
  margin-top: -23%;
}
.main-carousel{
  padding: 0px 80px;
} */

.card{
  justify-content: center;
  align-items: center;
  // background: #99f49c;
  height: 395px;
  padding: 2%;
  position: relative;
}

.card-item{
  background-color: #342F5C;
  justify-content: center;
  width: 390px;
  height: 240px;
  border-radius: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: 0.3s ease-in-out;

  &:hover{
    box-shadow: 0px 0px 30px 1px rgb(79, 173, 192);
    img{
      transform: scale(1.08);
    }
    h1{
      color: #ffffff;
      transform: scale(1.08);
      font-weight: 800;

    }
  }

  .card-top h1{
    font-size: 1rem;
    color: #ffffffdc;
    text-align: center;
    font-weight: 500;
    transition: 0.3s ease-in-out;

  } 
  
  .card-top img {
    width: 300px;
    height: 250px;
    margin:-15% auto auto auto ;
    display: block;
    transition: 0.3s ease-in-out;
  }
}

.slick-slide > div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}


.slick-dots li button:before
{
    font-size: 12px !important;
}

.slick-dots li.slick-active button::before {
  color:#FF6768 !important;
  opacity: 1;
}
.slick-dots li button::before {
  color:#ffffff !important;
  opacity: 0.9;
}









