.landingvideo-div{
    padding: 0;
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    }
    
    .LandingPage{
    width: 100%;
    height: 100vh;
    }
    
    video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    }
    .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #18113f9f;
    }
    .content{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
  padding: 0px 80px;

    color: #ffffff;
    h1{
        font-size: 67px;
        width: 40%;
        font-weight: 800;
        span{
            color: #FF6768;
        }

    }
    p{
        width: 40%;
        font-size: 18px;
    }
    }

    .landing-buttons{
        width: 40%;
        justify-content: space-between;
        margin-top: 2%;
        display: flex;
    button{
        cursor: pointer;
        width: 45%;
        height: 40px;
        border-radius: 30px;
        font-size: 18px;
        padding: 0;
        transition: 0.3s;
        &:hover{
  transform: scale(1.10);
        }
    }
    }

    .buy-btn{
        background-color: #ffffff;
        color: #000;
        border: none;
        &:hover{
            border-style:solid; border-color:#ffffff; border-width:2px;
            background-color: transparent;
            color: #ffffff;
        }
    }
    .subscribe-btn{
        border-style:solid; border-color:#ffffff; border-width:2px;
        background-color: transparent;
        color: #ffffff;
        &:hover{
            background-color: #ffffff;
            color: #000;
        }
    }
      