@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Gabarito:wght@500&family=Grand+Hotel&family=Kanit:wght@300&family=Leckerli+One&family=Monsieur+La+Doulaise&family=Montserrat:wght@300;600&family=Noto+Naskh+Arabic&family=Noto+Sans+Arabic:wght@100&family=Parisienne&family=Poppins:wght@200;300&family=Raleway:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
.app{
  background: linear-gradient(#18113F, #263859);


}

/* .allComponents{
  padding: 0px 80px;
  color: #ffffff;
} */


table {
  width: 100%;
  cursor: context-menu;
  justify-content: space-between;
  margin-bottom: 1.5%;
}

th,
td {
  text-align: center;
  width: 16.6%;
}

th {
  padding: 2.6%;
  background-color: #3a507b6f;
}

td:nth-child(1),
th:nth-child(1) {
  width: 16.6%;
}

td:nth-child(2),
th:nth-child(2) {
  width: 16.6%;
}

td:nth-child(3),
th:nth-child(3) {
  width: 16.6%;
}

td:nth-child(4),
th:nth-child(4) {
  width: 16.6%;
}

td:nth-child(5),
th:nth-child(5) {
  width: 16.6%;
}

td:nth-child(6),
th:nth-child(6) {
  width: 16.6%;
}