@import url('https://fonts.googleapis.com/css2?family=Arizonia&family=Gabarito:wght@500&family=Grand+Hotel&family=Kanit:wght@300&family=Leckerli+One&family=Monsieur+La+Doulaise&family=Montserrat:wght@300;600&family=Noto+Naskh+Arabic&family=Noto+Sans+Arabic:wght@100&family=Parisienne&family=Poppins:wght@200;300&family=Raleway:wght@200&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}
.app{
  background: linear-gradient(#18113F, #263859);


}

/* .allComponents{
  padding: 0px 80px;
  color: #ffffff;
} */

