.coinContainer {
  margin: 50px auto;
  border: 1px solid silver;
  border-radius: 10px;
  width: fit-content;
  background-color: #f6f6f6;
}

.input {
  width: 340px;
  border-radius: 15px;
  border: none;
  height: 20px;
  padding: 17px;
  border-color: rgb(255, 255, 255);
  background: #ffffff;
  box-shadow: rgba(74, 74, 74, 0.24) 0px 3px 8px;
  transition: all 0.3s ease;
}
::placeholder {
  color: #6e6e6e;
  opacity: 1;
} 
.input:focus {
  outline: none;
  transform: scale(1.10);
  border-radius: 20px;
  box-shadow: 0px 0px 30px 1px rgb(60, 122, 135);

}

.cryptoSearch{
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  margin-top: 7%;
}